// Contoh override warna dan ukuran
$sidebar-active-color: #006316;
$sidebar-light-menu-active-bg: #006316;
$sidebar-light-menu-hover-bg: #006316;
$sidebar-light-menu-hover-color: #ffffff;
$sidebar-dark-menu-hover-bg: #006316;
$sidebar-dark-menu-hover-color: #ffffff;
